:root {
  --dp_app_negative_lightest: rgba(255, 239, 240, 1);
  --dp_app_negative_lighter: rgba(255, 229, 230, 1);
  --dp_app_negative_light: rgba(255, 157, 161, 1);
  --dp_app_negative_mid: rgba(239, 55, 14, 1);
  --dp_app_negative_dark: rgba(199, 13, 0, 1);
  --dp_app_negative_darker: rgba(149, 10, 0, 1);
  --dp_app_negative_darkest: rgba(115, 3, 3, 1);
  --dp_app_warning_lightest: rgba(253, 247, 201, 1);
  --dp_app_warning_lighter: rgba(255, 246, 177, 1);
  --dp_app_warning_light: rgba(252, 236, 131, 1);
  --dp_app_warning_mid: rgba(255, 197, 8, 1);
  --dp_app_warning_dark: rgba(213, 128, 0, 1);
  --dp_app_warning_darker: rgba(149, 82, 0, 1);
  --dp_app_warning_darkest: rgba(80, 46, 0, 1);
  --dp_app_info_lightest: rgba(235, 242, 255, 1);
  --dp_app_info_lighter: rgba(223, 235, 255, 1);
  --dp_app_info_light: rgba(120, 163, 255, 1);
  --dp_app_info_mid: rgba(0, 79, 249, 1);
  --dp_app_info_dark: rgba(0, 53, 169, 1);
  --dp_app_info_darker: rgba(0, 36, 114, 1);
  --dp_app_info_darkest: rgba(0, 24, 72, 1);
  --dp_app_positive_lightest: rgba(225, 251, 215, 1);
  --dp_app_positive_lighter: rgba(214, 243, 203, 1);
  --dp_app_positive_light: rgba(115, 219, 94, 1);
  --dp_app_positive_mid: rgba(17, 172, 35, 1);
  --dp_app_positive_dark: rgba(12, 115, 43, 1);
  --dp_app_positive_darker: rgba(15, 76, 35, 1);
  --dp_app_positive_darkest: rgba(5, 45, 18, 1);
  --dp_app_selection_lightest: rgba(243, 241, 253, 1);
  --dp_app_selection_lighter: rgba(236, 232, 252, 1);
  --dp_app_selection_light: rgba(213, 206, 247, 1);
  --dp_app_selection_mid: rgba(151, 134, 230, 1);
  --dp_app_selection_dim: rgba(76, 79, 223, 1);
  --dp_app_selection_dark: rgba(35, 50, 196, 1);
  --dp_app_selection_darker: rgba(45, 0, 177, 1);
  --dp_app_selection_darkest: rgba(22, 0, 120, 1);
  --dp_app_text_base: rgba(25, 35, 37, 1);
  --dp_app_text_subtle: rgba(63, 75, 78, 1);
  --dp_app_text_subdued: rgba(91, 100, 102, 1);
  --dp_app_text_inverted: rgba(255, 255, 255, 1);
  --dp_app_text_negative: rgba(199, 13, 0, 1);
  --dp_app_text_warning: rgba(149, 82, 0, 1);
  --dp_app_text_positive: rgba(12, 115, 43, 1);
  --dp_app_text_disabled: rgba(91, 100, 102, 1);
  --dp_app_text_urgency_medium: rgba(149, 82, 0, 1);
  --dp_app_text_urgency_high: rgba(199, 13, 0, 1);
  --dp_app_link_base: rgba(0, 79, 249, 1);
  --dp_app_link_hover: rgba(0, 53, 169, 1);
  --dp_app_link_pressed: rgba(0, 24, 72, 1);
  --dp_app_link_visited_base: rgba(45, 0, 177, 1);
  --dp_app_link_visited_hover: rgba(35, 50, 196, 1);
  --dp_app_link_visited_pressed: rgba(22, 0, 120, 1);
  --dp_app_backdrop_base: rgba(255, 255, 255, 1);
  --dp_app_backdrop_dark: rgba(242, 244, 244, 1);
  --dp_app_backdrop_darker: rgba(231, 235, 235, 1);
  --dp_app_backdrop_one_lightest: rgba(255, 239, 223, 1);
  --dp_app_backdrop_one_lighter: rgba(255, 230, 207, 1);
  --dp_app_backdrop_one_darker: rgba(149, 10, 0, 1);
  --dp_app_backdrop_one_darkest: rgba(115, 3, 3, 1);
  --dp_app_backdrop_two_lightest: rgba(253, 247, 201, 1);
  --dp_app_backdrop_two_lighter: rgba(255, 246, 177, 1);
  --dp_app_backdrop_two_darker: rgba(149, 82, 0, 1);
  --dp_app_backdrop_two_darkest: rgba(80, 46, 0, 1);
  --dp_app_backdrop_three_lightest: rgba(235, 242, 255, 1);
  --dp_app_backdrop_three_lighter: rgba(223, 235, 255, 1);
  --dp_app_backdrop_three_darker: rgba(0, 36, 114, 1);
  --dp_app_backdrop_three_darkest: rgba(0, 24, 72, 1);
  --dp_app_backdrop_four_lightest: rgba(225, 251, 215, 1);
  --dp_app_backdrop_four_lighter: rgba(214, 243, 203, 1);
  --dp_app_backdrop_four_darker: rgba(9, 57, 17, 1);
  --dp_app_backdrop_four_darkest: rgba(5, 45, 18, 1);
  --dp_app_border_base: rgba(208, 212, 213, 1);
  --dp_app_border_light: rgba(242, 244, 244, 1);
  --dp_app_border_dark: rgba(138, 148, 151, 1);
  --dp_app_action_primary: rgba(0, 168, 143, 1);
  --dp_app_action_secondary: rgba(35, 50, 196, 1);
  --dp_app_action_tertiary: rgba(255, 255, 255, 1);
  --dp_app_action_destructive: rgba(199, 13, 0, 1);
  --dp_app_action_disabled: rgba(231, 235, 235, 1);
  --dp_app_focus_ring: rgba(35, 50, 196, 1);
  --dp_app_box_shadow: rgba(0, 0, 0, 1);
  --dp_brand_primary_core: rgba(0, 168, 143, 1);
  --dp_brand_primary_lightest: rgba(226, 246, 240, 1);
  --dp_brand_primary_lighter: rgba(211, 241, 232, 1);
  --dp_brand_primary_light: rgba(160, 223, 209, 1);
  --dp_brand_primary_mid: rgba(0, 168, 143, 1);
  --dp_brand_primary_dim: rgba(0, 112, 95, 1);
  --dp_brand_primary_dark: rgba(0, 62, 52, 1);
  --dp_brand_primary_darker: rgba(0, 44, 37, 1);
  --dp_brand_primary_darkest: rgba(0, 38, 32, 1);
  --dp_brand_secondary_core: rgba(35, 50, 196, 1);
  --dp_brand_secondary_lightest: rgba(243, 241, 253, 1);
  --dp_brand_secondary_lighter: rgba(236, 232, 252, 1);
  --dp_brand_secondary_light: rgba(213, 206, 247, 1);
  --dp_brand_secondary_mid: rgba(151, 134, 230, 1);
  --dp_brand_secondary_dim: rgba(76, 79, 223, 1);
  --dp_brand_secondary_dark: rgba(35, 50, 196, 1);
  --dp_brand_secondary_darker: rgba(45, 0, 177, 1);
  --dp_brand_secondary_darkest: rgba(22, 0, 120, 1);
  --dp_brand_tertiary_core: rgba(255, 157, 161, 1);
  --dp_brand_tertiary_lightest: rgba(255, 239, 240, 1);
  --dp_brand_tertiary_lighter: rgba(255, 229, 230, 1);
  --dp_brand_tertiary_light: rgba(255, 157, 161, 1);
  --dp_brand_tertiary_mid: rgba(255, 92, 98, 1);
  --dp_brand_tertiary_dim: rgba(197, 0, 79, 1);
  --dp_brand_tertiary_dark: rgba(147, 0, 71, 1);
  --dp_brand_tertiary_darker: rgba(102, 0, 52, 1);
  --dp_brand_tertiary_darkest: rgba(72, 0, 37, 1);
  --dp_brand_neutral_core: rgba(25, 35, 37, 1);
  --dp_brand_neutral_lightest: rgba(242, 244, 244, 1);
  --dp_brand_neutral_lighter: rgba(231, 235, 235, 1);
  --dp_brand_neutral_light: rgba(208, 212, 213, 1);
  --dp_brand_neutral_mid: rgba(138, 148, 151, 1);
  --dp_brand_neutral_dim: rgba(91, 100, 102, 1);
  --dp_brand_neutral_dark: rgba(63, 75, 78, 1);
  --dp_brand_neutral_darker: rgba(47, 56, 58, 1);
  --dp_brand_neutral_darkest: rgba(25, 35, 37, 1);
  --dp_brand_white: rgba(255, 255, 255, 1);
  --dp_brand_black: rgba(0, 0, 0, 1);
  --dp_comp_button_primary_background: rgba(0, 168, 143, 1);
  --dp_comp_button_primary_background_hover: rgba(0, 112, 95, 1);
  --dp_comp_button_primary_background_pressed: rgba(0, 62, 52, 1);
  --dp_comp_button_secondary_background: rgba(35, 50, 196, 1);
  --dp_comp_button_secondary_background_hover: rgba(45, 0, 177, 1);
  --dp_comp_button_secondary_background_pressed: rgba(22, 0, 120, 1);
  --dp_comp_button_tertiary_background: rgba(255, 255, 255, 1);
  --dp_comp_button_tertiary_background_hover: rgba(242, 244, 244, 1);
  --dp_comp_button_tertiary_background_pressed: rgba(208, 212, 213, 1);
  --dp_comp_table_row: rgba(242, 244, 244, 1);
  --dp_comp_table_row_hover: rgba(226, 246, 240, 1);
  --dp_comp_table_row_active_border: rgba(0, 168, 143, 1);
  --dp_comp_skeleton_background_base: rgba(242, 244, 244, 1);
  --dp_comp_skeleton_background_darker: rgba(231, 235, 235, 1);
  --dp_comp_message_negative_background: rgba(255, 239, 240, 1);
  --dp_comp_message_negative_left_edge: rgba(239, 55, 14, 1);
  --dp_comp_message_negative_border: rgba(255, 157, 161, 1);
  --dp_comp_message_warning_background: rgba(253, 247, 201, 1);
  --dp_comp_message_warning_left_edge: rgba(255, 197, 8, 1);
  --dp_comp_message_warning_border: rgba(255, 197, 8, 1);
  --dp_comp_message_info_background: rgba(235, 242, 255, 1);
  --dp_comp_message_info_left_edge: rgba(0, 79, 249, 1);
  --dp_comp_message_info_border: rgba(120, 163, 255, 1);
  --dp_comp_message_positive_background: rgba(225, 251, 215, 1);
  --dp_comp_message_positive_left_edge: rgba(17, 172, 35, 1);
  --dp_comp_message_positive_border: rgba(115, 219, 94, 1);
  --dp_comp_input_border: rgba(208, 212, 213, 1);
  --dp_comp_input_border_hover: rgba(76, 79, 223, 1);
  --dp_comp_input_border_focus: rgba(35, 50, 196, 1);
  --dp_comp_input_invalid_border: rgba(239, 55, 14, 1);
  --dp_comp_input_invalid_border_hover: rgba(199, 13, 0, 1);
  --dp_comp_input_invalid_border_focus: rgba(239, 55, 14, 1);
  --dp_comp_input_placeholder_text: rgba(91, 100, 102, 1);
  --dp_comp_carrier_logo_monochrome_fill: rgba(138, 148, 151, 1);
  --dp_comp_focus_ring: rgba(35, 50, 196, 0.5);
  --dp_comp_box_shadow: rgba(0, 0, 0, 0.12);
  --dp_comp_input_binary_background_base: rgba(255, 255, 255, 1);
  --dp_comp_input_binary_background_hover: rgba(236, 232, 252, 1);
  --dp_comp_input_binary_background_pressed: rgba(213, 206, 247, 1);
  --dp_comp_input_binary_border_base: rgba(138, 148, 151, 1);
  --dp_comp_input_binary_border_hover: rgba(76, 79, 223, 1);
  --dp_comp_input_binary_border_pressed: rgba(76, 79, 223, 1);
  --dp_comp_input_binary_selected_background_base: rgba(35, 50, 196, 1);
  --dp_comp_input_binary_selected_background_hover: rgba(45, 0, 177, 1);
  --dp_comp_input_binary_selected_background_pressed: rgba(22, 0, 120, 1);
  --dp_comp_input_binary_selected_border_base: rgba(35, 50, 196, 1);
}

